*{
    margin:0;
    padding: 0;
}
.container{
    height: 100vh;
    width: 100vw;
    background-image: url(background.png);
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;


}
.navbar{
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;

}
.logo{
    width: 250px;
    cursor: pointer;

}
.profile{
    width: 40px;
    cursor: pointer;   
}
nav{
    flex: 1;
    padding-left: 60px;

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin:0px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #333;
    transition: all 0.5s ease;
}
nav ul li a:hover{
    color: rgb(92, 58, 131);
}
.content h1{
    font-size: 60px;
    font-weight: 100;
   /* margin-top: 24px;*/
    margin-bottom: 15px;
    color: #232d60;

}
.content p{
    font-size: 16px;
    color: #6a7199;
    
    
}
.content{
    margin-left: 6%;
    margin-top:6%;

}
.content .btn1{
    display:inline-block;
    background: linear-gradient(45deg, #87adfe, #ff77cd);
    border-radius: 6px;
    padding: 10px 20px ;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 22px rgba(94,28,68,0.15);
    margin-top: 24px;
    transition: all 0.5s ease;
}
.sideimage{
    height: 63%;
    position: absolute;
    bottom: 130px;
    right: 0px;
}
.content .btn1:hover{
    background: linear-gradient(45deg,  #ff77cd,#87adfe);
    
}
