
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
}
.container11{
    height: 100vh;
    width: 100vw;
    background-image: url(background.png);
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
}
.navbar{
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 20px;

}
.logo{
    width: 250px;
    cursor: pointer;

}
.profile{
    width: 40px;
    cursor: pointer;   
}
nav{
    flex: 1;
    padding-left: 60px;

}

nav ul li{
    display: inline-block;
    list-style: none;
    margin:0px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #333;
    font-family: 'Abril Fatface', cursive;
    transition: all 0.5s ease;
    font-size: 16.5px;
}
.primary-button{
    background-color:#87adfe;
    border-radius: 85px;
    font-weight: 400;
    color: #fff ;
    padding: 12px 18px;
    box-shadow: 3px 8px 22px rgba(94,28,68,0.15);
    transition: 0.2s ease-out;


}
.primary-button:hover{
    background-color:whitesmoke;

}
.secondary-button{
    border: 0.5px solid #232d60;
    border-radius: 85px;
    font-weight: 400;
    padding: 12px 18px;
    transition: 0.2s ease-out;
}
.secondary-button:hover{
    border: 0.5px solid #87adfe ;
    background-color: #87adfe;
    color: white;
}
nav ul li a:hover{
    color: rgb(92, 58, 131);
}
body{
    font-family: 'Montserrat',sans-serif;
    background: #f6f5f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: -20px 0 50px;
}
h1{
    font-weight: bold;
    margin: 0;
}
p{
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}
span{
    font-size: 12px;
}
a{
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}
.container{
    background: #fff;
    border-radius: 10px;
    box-shadow:0 14px 28px rgba(0, 0, 0, 0.25), 0 10px rgba(0, 0, 0,0.22);
    position:relative;
    overflow:hidden;
    width: 768px;
    max-width: 100%;
    min-height: 450px;
    margin: 0 auto;
}
.form-container form{
    background: #fff;
    display: flex;
    flex-direction: column;
    padding:0 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.social [class*="fa fa-"] {
    display: block;
    float: left;
    width: 25px;
    height: 25px;
    border: 1px solid #000;
    border-radius: 50%;
    margin: 4px;
    font-size: 15px;
    color: #000;
}
.social [class*="fa fa-"]:hover{
    background: #000;
    color: #fff;
}
.fa-facebook{
    color: #000;
    padding: 0.3em;
 }
.fa-google-plus{
    color: #000;
    padding: 0.3em;
    }
.fa-linkedin{
    color: #000;
    padding: 0.3em;
     }   
.form-container input{
       background: #eee;
       border: none;
       padding: 12px 15px;
       margin: 8px 0;
       width:100%;
}
button{
    border-radius: 20px;
    border: 1px solid #87adfe;
    background: #87adfe;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}
button:active{
    transform: scale(0.95);
}
button:focus{
    outline:none;
}
button.ghost{
    background: transparent;
    border-color: #fff;
}
button.ghost:hover{
    background: #fff;
    border-color: #fff;
    color:#000;
}
.form-container{
    position: absolute;
    top:0;
    height: 100%;
    transition:all 0.6s ease-in-out;
}
.sign-in-container{
    left:0;
    width: 50%;
    z-index: 2;
}
.sign-up-container{
    left:0;
    width: 50%;
    z-index: 1;
    opacity: 0;
}
.overlay-container{
    position: absolute;
    top:0;
    left: 50%;
    width:50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}
.overlay{
    background: #87adfe;
    background: linear-gradient(to right, #87adfe, #ff77cd) no-repeat 0 0 / cover;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}
.overlay-panel{
    position: absolute;
    top:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    height: 100%;
    width: 50%;
    text-align: center;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}
.overlay-right{
    right:0;
    transform: translateX(0);
}
.overlay-left{
    transform: translateX(0%);
}
.container.right-panel-active .sign-in-container{
    transform: translateX(100%);
    opacity:0;
}
.container.right-panel-active .overlay-container{
    transform: translateX(-100%);
}
.container.right-panel-active .sign-up-container{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}
.container.right-panel-active .overlay{
    transform: translateX(50%);
}
